.stay p{
    position: absolute;
    top: 31%;
    left: 18%;
    transform: translate(-31% -18%);
    padding: 10px 70px;
    z-index: 2;
}

.hope{
    z-index: 1;
}

.stay{
    padding-top: 60px;
}

.stay h1{
    font-size: 55px;
}

.basic{
  background-color: rgb(32, 32, 201);
}

.pro{
    background-color: rgb(228, 67, 94);
  }

.premium{
    background-color: orange;
}

.stage_2{
    position: absolute;
    left: 0;
    right: 0;
    top: 41%;
    transform: translateY(-41px);
    box-shadow: 0px 0px 10px #777777;
    border-left: 4px solid rgb(228, 67, 94);
    border-right: 4px solid rgb(0, 89, 255);
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: whitesmoke;
}

.boss{
    position: relative;
    width: 100%;
    background-color: whitesmoke;

}

.board{
    width: 100px;
    height: 1px;
    background-color: #ddd;
    margin: auto;
}

.bg-primary{
    background-image: linear-gradient(to right top, rgb(3, 102, 250), rgb(97, 151, 231));
}

.bg-danger{
    background-image: linear-gradient(to right top, rgb(230, 17, 38), rgb(247, 136, 147));
}

.bg-warning{
    background-image: linear-gradient(to right top, rgb(255, 193, 7), rgb(250, 221, 133));
}

@media screen and (max-width: 700px){
    .stage{
        flex-direction: column;
    }
}

@media screen and (max-width: 991px){
    .stage_2{
        top: 80%;
        height: 23% !important;
    }
}

